# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [229]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import pprint as pp
from key import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [221]:
# Load csv file to dataframe
file = "data_frame_export.csv"
weather_df = pd.read_csv(file)
weather_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lon,Max Temp,Wind Speed
0,Marsh Harbour,5,BS,1584234003,81,26.54,-77.06,73.96,10.56
1,Soligalich,100,RU,1584234199,72,59.08,42.29,21.40,5.35
2,Punta Arenas,100,CL,1584234199,76,-53.15,-70.92,57.00,25.28
3,Albany,90,US,1584233942,55,42.60,-73.97,39.99,9.17
4,Puerto Ayora,20,EC,1584234199,74,-0.74,-90.35,82.40,9.17

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [233]:
# Configure gmaps
gmaps.configure(g_key)

# Assign map display to fig
fig = gmaps.figure()

# Store latitude and longitude in locations
locations = weather_df[["Lat", "Lon"]]

# Convert humidity values to float
humidity = weather_df["Humidity"].astype(float)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=2)
#Specify plotting parameters
figure_layout = {
    'width': '400px',
    'height': '4000px',
    'border': '1px solid black',
    'padding': '1px'
}

#Assign layout parameters
gmaps.figure(layout=figure_layout)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [223]:
#Narrow down the DataFrame to find your ideal weather condition. For example:

ideal_conditions_df = weather_df.loc[(weather_df["Max Temp"] > 70) & 
                                     (weather_df["Max Temp"] < 80) & 
                                     (weather_df["Wind Speed"] < 10) & 
                                     (weather_df["Cloudiness"] == 0)]
ideal_conditions_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lon,Max Temp,Wind Speed
61,Taoudenni,0,ML,1584234214,12,22.68,-3.98,70.07,2.39
164,Chichimila,0,MX,1584234239,57,20.62,-88.22,79.00,5.66
185,Atambua,0,ID,1584234077,78,-9.11,124.89,79.61,1.07
211,Airai,0,TL,1584234250,58,-8.93,125.41,76.48,1.83
362,Goundam,0,ML,1584234286,10,16.41,-3.67,79.00,7.45
367,Acajutla,0,SV,1584234199,85,13.59,-89.83,75.00,1.99

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [231]:
#Assign arrays for hotel data
hotel_name = []
hotel_city = []
hotel_country = []
hotel_lat = []
hotel_lng = []

#Iterate through rows of ideal conditions dataframe
for index, row in ideal_conditions_df.iterrows():

    # Pull Lat+Lon coordinates
    coords = f"{row['Lat']},{row['Lon']}"

    # Assign target paramaters
    target_coordinates = coords
    target_radius = 5000
    target_type = "lodging"

    # Set up a parameters dictionary
    params = {
        "location": target_coordinates,
        "radius": target_radius,
        "type": target_type,
        "key": api_key
    }
    
    # base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # run a request using params dictionary
    response = requests.get(base_url, params=params).json()
    
    #Set up if loop to account for Zero Result requests
    if response['status'] != "ZERO_RESULTS":
    
        hotel_name.append(response["results"][0]["name"])
        hotel_country.append(response["results"][0]["plus_code"]["compound_code"])
        hotel_city.append(response["results"][0]["vicinity"])
        hotel_lat.append(response["results"][0]["geometry"]["location"]["lat"])
        hotel_lng.append(response["results"][0]["geometry"]["location"]["lng"])
    
    else:
        print(f"No hotels within 5000m! of {coords}")

#Assign cleaned City and Country data to arrays to clean data
hotel_country = ["Mexico" , "Indonesia" , "Timor-Leste" , "El Salvador"]
hotel_city = ["Chichimila", "Atambua", "Airai", "Acajulta"]

#Construct hotel details dataframe
hotels_df = pd.DataFrame({"Name": hotel_name,
                          "City": hotel_city,
                          "Country": hotel_country,
                          "Lat": hotel_lat,
                          "Lon": hotel_lng})
hotels_df

No hotels within 5000m! of 22.68,-3.98
No hotels within 5000m! of 16.41,-3.67

,Name,City,Country,Lat,Lon
0,Casa Kiin,Chichimila,Mexico,20.647601,-88.213687
1,Pondok Pesantren Al Muhajirin Atambua,Atambua,Indonesia,-9.109632,124.890197
2,Juvinal Martin,Airai,Timor-Leste,-8.930576,125.396797
3,Villavela Hotel Boutique,Acajulta,El Salvador,13.588713,-89.834214

In [225]:
#Pull hotel coordinates to use to place description symbols
hotel_coords = hotels_df[["Lat", "Lon"]].astype(float)

#Design info box template
info_box_template = """
<dl>
<dt>Name</dt><dd>{Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""

#Iterate through hotel dataframe and add values to info box template
hotel_info = [info_box_template.format(**row) for index, row in hotels_df.iterrows()]

#Create hotel layer symbols containing Hotel Name, City, and Country.
hotel_layer = gmaps.symbol_layer(
    hotel_coords, info_box_content = hotel_info, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=2)

#Add hotel symbol layer to map
fig.add_layer(hotel_layer)

fig

Figure(layout=FigureLayout(height='420px'))